{% extends 'admin/layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <style>
        .btn:hover
        {
            transition-duration: 0.5s;
            transform: translateX(10px);
            color: orange;
        }
    </style>

    <h1>Messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Expéditeur</th>
                <th>Adresse e-mail</th>
                <th>Objet</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.created|date('d/m/Y') }}</td>
                <td><a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn"><b>Ouvrir</b></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Vous n'avez aucun nouveau message !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
